.button {
  justify-self: center;
  width: 400px;
  height: 75px;
  border-radius: 10px;
  background-color: #b6263a;
  color: white;
  font-size: 20px;
  font-weight: 5 00;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.04;
  align-self: flex-end;
  &:hover {
    transform: translate(0, -3px);
  }
  &:active {
    transform: translate(0, -1px);
  }
}

@media (max-width: 1200px) {
  .button {
    width: 300px;
  }
}

@media (max-width: 500px) {
  .button {
    width: 80%;
    font-size: 18px;
  }
}
