.footer {
  width: 100%;
  box-sizing: content-box;

  min-height: 40vh;
  background: linear-gradient(to right, #31479a, #6ea8dc);
  .title {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .feedback_wrapper {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding-bottom: 220px;
    .feedback {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      grid-gap: 5%;
    }
  }
  .text {
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #faf5f4;
    text-align: center;
    text-decoration: none;
    &.last {
      padding-top: 20px;
      padding-bottom: 70px;
    }
  }
}

@media (max-width: 1400px) {
  .footer {
    .feedback_wrapper {
      .feedback {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        button {
          margin-top: 50px;
          grid-column: 1 / -1;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .footer {
    .feedback_wrapper {
      .feedback {
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        button {
          margin-top: unset;
          grid-column: unset;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .footer {
    .title {
      font-size: 30px;
      padding: 70px 0;
      color: #ffdc73;
      font-weight: bold;
    }
  }
}
