.InputWithIcon {
  width: 120%;
  display: grid;
  grid-template-columns: 15% 60%;
  grid-gap: 2px;
  height: 75px;
  :first-child {
    margin-left: 10px;
  }

  .img {
    width: 30px;
  }
  .imageWrapper {
    display: grid;
    justify-items: center;
    align-items: center;
    background: #bbcce6;
    min-width: 60px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .input {
    font-size: 24px;
    text-align: center;
    font-family: "GothamProLight";
    background: #bbcce6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media (max-width: 1400px) {
  .InputWithIcon {
    grid-gap: 4px;
  }
}
@media (max-width: 1200px) {
  .InputWithIcon {
    justify-content: center;
  }
}

@media (max-width: 1050px) {
  .InputWithIcon {
    width: unset;

    margin-bottom: 50px;
    .imageWrapper {
      margin-right: 85px;
    }
  }
}

@media (max-width: 500px) {
  .InputWithIcon {
    grid-template-columns: 21% 70%;
    margin-left: 10px;
    width: 320px;
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .InputWithIcon {
    grid-template-columns: 21% 63%;
    margin-left: 10px;
    justify-content: center;
  }
}
@media (max-width: 340px) {
  .InputWithIcon {
    width: 280px;
    grid-template-columns: 24% 70%;
  }
}
