* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "GothamProLight";
}

@font-face {
  font-family: "GothamProLight";
  src: url("../fonts/GothamProLight.ttf");
}
@font-face {
  font-family: "GothamProBlack";
  src: url("../fonts/GothamProBlack.ttf");
}

@font-face {
  font-family: "GothamProMedium";
  src: url("../fonts/GothamProMedium.ttf");
}
