* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "GothamProLight";
}

@font-face {
  font-family: "GothamProLight";
  src: url("../fonts/GothamProLight.ttf");
}
@font-face {
  font-family: "GothamProBlack";
  src: url("../fonts/GothamProBlack.ttf");
}

@font-face {
  font-family: "GothamProMedium";
  src: url("../fonts/GothamProMedium.ttf");
}

.lds-ring {
  width: 100%;
  height: 100%;
  display: block;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 150px;
  height: 150px;
  margin: 6px;
  border: 6px solid #333366;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #333366 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinnerWrappers {
  position: relative;
  left: 50%;
  width: 10%;
  transform: translate(-50%);
  padding-top: 150px;
  padding-bottom: 250px;
}

@media (max-width: 500px) {
  .spinnerWrappers {
    width: 30%;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 6px;
    border: 6px solid #333366;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #333366 transparent transparent transparent;
  }
}
