.Advantage {
  display: grid;
  grid-gap: 5%;
  grid-template-rows: 40% 60%;
  justify-items: center;
  justify-content: center;

  img {
    width: 140px;
  }
  .text {
    color: #31479a;
    font-size: 48px;
    text-align: center;
  }
}

@media (max-width: 1400px) {
  .Advantage {
    img {
      margin: 25px 0;
    }
    .text {
      padding-bottom: 25px;
      text-align: center;
      color: #31479a;
      font-size: 38px;
    }
  }
}

@media (max-width: 500px) {
  .Advantage {
    grid-gap: unset;
    img {
      width: 65px;
    }
    .text {
      padding-bottom: 25px;
      text-align: center;
      color: #31479a;
      font-size: 28px;
      width: 90%;
    }
  }
}

@media (max-width: 961px) {
  .Advantage {
    grid-template-rows: unset;
  }
}
